[package]
name = "deterministic-keygen"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "deterministic_keygen"
crate-type = ["cdylib"]

[dependencies]
blake3 = "1.5.0"
pyo3 = "0.19.2"
rand_chacha = "0.3.1"
rsa = "0.10.0-pre.1"
tiny-bip39 = "1.0.0"
